.column1, .column2, .column3 {
  width: 33.3%;
  float: left;
  color: white;
}

.home, .article {
  height: 200px;
  margin: 2em auto 2em auto;
}

.articles-header {
  text-align: center;
}

.articles-container {
  text-align: center;
  width: 1200px;
  margin: 2em auto 2em auto;
  height: 1800px;
  
}

.article {
  position: relative;
  width: 23.4%;
  height: 280px;
  float: left;
  margin-right: 5px;
  margin-left: 10px;
  text-align: center;
}

.article-title {
  text-align: center;
  margin-bottom: 0;
}

.article-img {
  right: 0;
  bottom: 10px;
  border-radius: 15px;
  position: absolute;
  bottom: 0;
  height: 70%;
  width: 100%;
}


