.column1, .column2, .column3 {
  width: 33.3%;
  float: left;
  color: white;
}

.articles-header {
  margin: 0px auto 0px auto;
  padding-top: 20px;
  text-align: center;
  width: 200px;
  color: white;
}

.articles-container {
  background-image: url(../assets//homepage.jpg);
  position: relative;
  clear:left;
  text-align: center;
  width: auto;
  height: 2800px;
  padding: 0px 100px 100px 100px;
  margin: 0px auto 0px auto;
  min-height: 1200px;
  max-height: 2500px;  
}

.article {
  position: relative;
  width: 22.4%;
  height: 300px;
  min-height: 200px;
  max-height: 400px;
  float: left;
  left: 15px;
  margin: 25px 5% 25px 5%;
  text-align: center;
}

.caption {
  margin: 0;
  text-align: center;
  position: absolute;
  top: 200px;
  width: 100%;
}

.article-img {
  position: absolute;
  right: 0px;
  height: 72%;
  width: 100%;
}

.article-img:hover {
  -moz-box-shadow: 0 0 10px #777777;
  -webkit-box-shadow: 0 0 10px #777777;
  box-shadow: 0 0 10px #777777;
}



