.column1, .column2, .column3 {
  width: 33.3%;
  float: left;
  color: white;
}

.articles-header {
  text-align: center;
}

.articles-container {
  text-align: center;
  width: auto;
  padding: 0px 100px 100px 100px;
  margin: 0px auto 100px auto;
  min-height: 1200px;
  max-height: 1600px;
  
}

.article {
  position: relative;
  max-width: 250px;
  min-width: 180px;
  width: 22.4%;
  height: 280px;
  float: left;
  margin-right: 5px;
  margin-left: 72px;
  text-align: center;
}

.article-title {
  text-align: center;
  margin-bottom: 0;
}

.article-img {
  right: 0;
  bottom: 10px;
  border-radius: 15px;
  position: absolute;
  bottom: 0;
  height: 70%;
  width: 100%;
}


