.game-container {
  width: 150px;
  height: 250px;
  margin: 20px auto 20px auto;
}

.cover-art {
  text-align: center;
  width: 150px;
  height: 200px;
  margin: 2px auto 2px auto;
}

.cover {
  width: 150px;
  height: 200px;
}

#search {
  text-align: center;
  margin: 20px;
}
#search-bar {
  width: 300px;
}

#search-button {
  margin-left: 0;
}

.info {
  margin: 50px;
  text-align: left;
}

