.upcoming-games-container {
  width: auto;
  height: 300px;
  color: white;
  text-align: center;
  border-bottom: 2px solid white;
  padding: 10px;
}

.homepage { 
  height: 2800px;
}

.upcoming-game {
  display: inline;
  width: 12%;
  height: 200px;
  margin: 25px;
}