.upcoming-games-container {
  width: auto;
  height: 350px;
  color: white;
  text-align: center;
  border-bottom: 2px solid white;
  padding: 10px;
  
}

.homepage { 
  height: 2800px;
}

.upcoming-game {
  display: inline-block;
  width: auto;
  height: auto;
  margin: 10px;
  padding: 0;
}

.cover-art {
  height: auto;
  width: 100%;
}